.cabecalho{
   display: flex;
   justify-content :space-between:baseline
   align items :center;
}

.cabecalho-titulo{
   font-size: 3rem;
   color: black;
   line-height: 1.2;
   margin-bottom: 20px;
   {

      .cabecalho-menu{
         display: block;
         unicode-bidi:
         
